@import "main/mobile.css";
@import "main/tablet.css";
@import "main/desktop.css";
@import "catalog/mobile.css";
@import "catalog/tablet.css";
@import "catalog/desktop.css";
@import "object/mobile.css";
@import "object/tablet.css";
@import "object/desktop.css";

/* Variables */

:root {
/* Colors */
/* Base colors */
--base-white: #ffffff;
--base-black: #000000;
--accent: #04B7E0;
--accent-1:  #125EAA;
--accent-2: #23325B;
--accent-3: #85DCF0;
--accent-4: #3C9CF5;
--base-text: #212121;
--gray-text: #818181;

/* Background colors */
--background-color: #F9FAFF;
--background-block: #D0D0D0;
--opacity-background: rgba(33, 33, 33, 0.15);
--background-modal: rgba(208, 208, 208, 0.5);

/* metro */
--red-metro: #DA2127;
--blue-metro: #0078BE;
--green-metro: #48B85E;
--orange-metro: #F58220;
--purple-metro: #8E479B;

/* Other colors */
--color-green: #2AD127;
--color-lightgreen: #D6F2B3;
--color-red: #D12728;
--color-lightred:#FFDADB;
--color-orange: #F67E27;
--color-lightorange: #FFEBD3;
--color-lightblue: #C5E3FF;
--color-action: #E0ECF7;
--color-visited: #E7E7E7;
}

/* Fonts */

@font-face {
    font-family: "Cygre";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Cygre/Cygre-Regular.woff2") format("woff2"),
        url("../fonts/Cygre/Cygre-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Geologica/Geologica-Bold.woff2") format("woff2"),
        url("../fonts/Geologica/Geologica-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Geologica/Geologica-Medium.woff2") format("woff2"),
        url("../fonts/Geologica/Geologica-Medium.woff") format('woff');
    font-display: swap;
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Geologica/Geologica-Black.woff2") format("woff2"),
        url("../fonts/Geologica/Geologica-Black.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Geologica/Geologica-Regular.woff2") format("woff2"),
        url("../fonts/Geologica/Geologica-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Geologica";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Geologica/Geologica-Light.woff2") format("woff2"),
        url("../fonts/Geologica/Geologica-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "GillSans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/gill sans/GillSans.woff2") format("woff2"),
        url("../fonts/gill sans/GillSans.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Heraclito";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/heraclito/Heraclito-Regular.woff2") format("woff2"),
        url("../fonts/heraclito/Heraclito-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter/Inter-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "LT Amber";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/LT Amber/LTAmber-Medium.woff2") format("woff2"),
        url("../fonts/LT Amber/LTAmber-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Min Sans";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/min_sans/MinSans-Black.woff2") format('woff2'),
        url("../fonts/min_sans/MinSans-Black.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Min Sans";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/min_sans/MinSans-Medium.woff2") format("woff2"),
        url("../fonts/min_sans/MinSans-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Min Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/min_sans/MinSans-Regular.woff2") format("woff2"),
        url("../fonts/min_sans/MinSans-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/muller/MullerRegular.woff2") format("woff2"),
        url("../fonts/muller/MullerRegular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NT Somic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/NT Somic/NTSomic-Regular.woff2") format("woff2"),
        url("../fonts/NT Somic/NTSomic-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Nunito/Nunito-Regular.woff2") format("woff2"),
        url("../fonts/Nunito/Nunito-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/Open_Sans/OpenSans-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "RockStar";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/RS RockStar/RockStar.woff2") format("woff2"),
        url("../fonts/RS RockStar/RockStar.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/SF Pro/SFProDisplay-Semibold.woff2") format("woff2"),
        url("../fonts/SF Pro/SFProDisplay-Semibold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/SF Pro/SFProDisplay-Medium.woff2") format("woff2"),
        url("../fonts/SF Pro/SFProDisplay-Medium.woff") format("woff");
    font-display: swap;
}


/* Global */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
  
.page__body {
     position: relative;
    display: flex;
    flex-direction: column;
    min-width: 375px;
    min-height: 100vh;
     line-height: 14px;
    margin: 0 auto;
    color: var(--base-black);
     color: var(--gray-text);
    background-color: var(--base-white);
    font-family: "Min Sans", Arial, sans-serif;
     font-size: 10px;
     font-style: normal;
     font-weight: 400;
}

.page__container {
    position: relative;
}

.page__background-shadow {
    position: fixed;
    z-index: 4;
    display: none;
    width: 100%;
    height: 100%;
    background: var(--dark-1);
    background: rgba(33, 33, 33, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page__background-shadow--active {
    display: block;
}

.body-in-modal {
    position: fixed;
    overflow: hidden;
}