@font-face {
    font-family: 'Heraclito';
    src: url('Heraclito-Regular.woff2') format('woff2'),
        url('Heraclito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

