@media (min-width: 1440px) {

    /* CATALOG PAGE */

    .page__header-wrapper .header__nav-item a {
        color: var(--base-text);
    }

    .page__header-wrapper .header__contacts-phone {
        color: var(--base-text);
    }

    .page__header-wrapper .header__usernav-comparison svg path {
        stroke: var(--base-black);
    }

    .page__header-wrapper .header__usernav-favourite svg path {
        stroke: var(--base-black);
    }

    .page__header-wrapper .header__usernav-account svg path {
        stroke: var(--base-black);
    }

    .line.line-3 {
        display: block;
        margin-top: 104px;
    }

    .object-list .object-item-catalog, .object-list .object-item:first-child.object-item-catalog, .object-list .object-item.object-item-catalog {
        flex-basis: 612px;
        max-width: 612px;
        height: 550px;
        margin-right: 16px;
    }

    .object__title.title__catalog.object__title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .object-list .object-item-catalog:nth-child(2n) {
        margin-right: 0;
    }

    .object-item-catalog .object__image-object {
        height: 345px;
    }

    .button-map {  
        border-radius: 0px 12px 12px 0px;
    }

    .object-item-catalog .object__advantages  {
        z-index: 100;
        bottom: -73px;
        max-width: 237px;
    }

    .object-item:not(:first-child) div.object__advantages {
        display: flex;
        max-width: 266px;
    }

    .object-item-catalog .object__advantages-title {
        line-height: 17px;
        font-size: 12px;
    }

    .object-item .object-link,
    .object-item:first-child .link-catalog.object-link{
        max-width: 612px;
        cursor: pointer;
        pointer-events: auto;
        grid-template-areas:
        "a a"
        "c b";
    }

    .object-item .link-catalog .object-subtitle {
        line-height: 38px;
        margin-bottom: 89px;
        font-size: 32px;
    }

    .object-item .link-catalog .object__metro,
    .object-item .link-catalog .object__metro-time {
        line-height: 20px;
        font-size: 14px;
    }

    .object-item .link-catalog .object__flats {
        display: block;
        line-height: 20px;
        color: var(--gray-text);
        font-size: 14px;
    }

    .object-item .link-catalog .object__price {
        line-height: 29px;
        margin-left: 16px;
        font-size: 24px;
    }

    .object-item .catalog__button {
        display: none;
    }

    .catalog__slider {
        display: flex;
    }

    .object-item.object__classic  div.object__advantages  {
        flex-wrap: wrap;
        max-width: 170px;
    }

    .line.line-4 {
        display: block;
    }
}