 /* CATALOG PAGE */
.object {
    padding: 0 16px;
    margin-bottom: 52px;
 }

.page__catalog .page__header-wrapper::before {
    background-color: var(--base-white);
 }

.object__title.title__catalog {
    margin: 129px 0 32px;
 }

.catalog__button {
    margin: auto 16px 16px;
}

.button-catalog {
    margin-top: 28px;
}

.object__breadcrumbs-list {
    display: none;
}

.line-4 {
    display: none;
}


