@media (min-width: 960px) {
    /* CATALOG PAGE */

    .object-list .object-item-catalog,
    .object-list .object-item:first-child.object-item-catalog,
    .object-list .object-item.object-item-catalog  {
        flex-basis: 456px;
        max-width: 456px;
        height: 443px;
        margin-right: 16px;
    }

    .object-link.link-catalog,
    .object-item:first-child .link-catalog.object-link {
        max-width: 456px;
        grid-template-areas:
            "a b"
            "c .";
    }

    .object-item-catalog .object__flats {
        display: none;
    }

    .object-list .object-item-catalog:nth-child(2n) {
        margin-right: 0;
    }

    .object-item-catalog .object__advantages {
        bottom: 28px;
    }

    .object-item-catalog .object__image-object {
        height: 266px;
    }

    .catalog__slider {
        display: none;
    }

    .object__title.title__catalog {
        margin: 128px 0 32px;
    }

    .object-item .link-catalog .object-subtitle {
        line-height: 24px;
        margin-bottom: 12px;
        font-size: 20px;
    }

    .object-item-catalog .object__advantages-title {
        line-height: 14px;
        font-size: 10px;
    }

    .object__metro::before {
        top: 3px;
    }

    .object__metro-time-transport::before {
        top:-1px;
    }

    .object-item .catalog__button {
        display: grid;
        margin: auto 16px 16px;
    } 

    .catalog__button .object__button-title {
        line-height: 17px;
        font-size: 12px;
    }

    .object-item .link-catalog .object__metro,
    .object-item .link-catalog .object__metro-time {
        line-height: 14px;
        font-size: 10px;  
    }

    .object-item .link-catalog .object__price {
        line-height: 24px;
        font-size: 20px;
    }

    .object__classic .link-catalog br {
        display: none;
    }

    .button-catalog.button.button-phone {
        margin-top: 80px;
        margin-bottom: 72px;
    }

    .object__metro-time .object__metro-time-walk::before {
        top:0;
    }

    .object {
        margin-bottom: 0;
    }
}