@font-face {
    font-family: 'LT Amber';
    src: url('LTAmber-Medium.woff2') format('woff2'),
        url('LTAmber-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

