@font-face {
    font-family: 'NT Somic';
    src: url('NTSomic-Regular.woff2') format('woff2'),
        url('NTSomic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

