.page__selection .object__selection-slider {
    margin-top: 80px;
}

.page__selection .object__selection.container {
    margin-bottom: 0;
}

.page__selection .page__header-wrapper::before {
    background-color: var(--base-white);
}


.page__selection .object__selection .object__selection-slider img {
    max-width: none;
    height: 661px;
    object-fit: cover;
}

.page__selection-floor .object__selection-slider img {
    margin-left: -400px;
}

.page__selection-section .object__selection-slider::after,
.page__selection-flat .object__selection-slider::after,
.page__selection-parking .object__selection-slider::after,
.page__selection-parking-space .object__selection-slider::after {
    position: absolute;
    z-index: -100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    background-image: url(../../images/desktop/header_image-desktop_max.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: blur(24px);
}

.page__selection .slider__button {
    position: absolute;
    right: 16px;
    bottom: 71px;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.slider__button__link--tablet {
    display: none;
}

.slider__button-description {
    line-height: 17px;
    color: var(--base-white);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.page__selection .object__selection-button {
    display: none;
}

.page__selection .object__selection-buttons {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: 16px;
}

.page__selection .line-4 {
    display: none;
}

.page__selection .footer {
    padding-top: 0;
}

.section__selection {
    position: absolute;
    top: 73px;
}

.floor__selection {
    display: flex;
    margin-left: 16px;
    gap: 24px;
}

.floor__selection-buttons {
    position: relative;
    overflow: hidden;
    width: 88px;
    height: 319px;
    border-radius: 16px;
    background: var(--base-white);
}

.button__floor {
    position: absolute;
    display: block;
    padding: 8px 20px;
    margin: 0;
    border: none;
    background-color: var(--base-white);
}

.floor__up {
    top: 0;
}

.floor__up::before {
    position: absolute;
    top: 64px;
    left: 8px;
    width: 72px;
    height: 0px;
    border: 1px solid var(--background-block);
    content: "";
}

.floor__down {
    bottom: 0;
}

.floor__down::before {
    position: absolute;
    bottom: 64px;
    left: 8px;
    width: 72px;
    height: 0px;
    border: 1px solid var(--background-block);
    content: "";
}

.floor__selection-title {
    line-height: 19px;
    padding: 0;
    margin: 0 0 22px;
    color: var(--base-white);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.floor__selection-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 72px 8px 64px;
    margin: 0;
    list-style: none;
    gap: 16px;
}

.floor__selection-item {
    position: relative;
    line-height: 19px;
    color: var(--base-black);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.floor__selection-item--active {
    padding-bottom: 12px;
    color: var(--accent);
}

.floor__selection-item--active::before {
    position: absolute;
    top: 27px;
    left: -15px;
    width: 48px;
    height: 4px;
    border-radius: 4px;
    background: var(--accent);
    content: "";
}

.object__selection .object__selection-slider .floor__selection-image picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 469px;
}

.object__selection .object__selection-slider .floor__selection-image img {
    height: 469px;
    object-fit: cover;
}

.page__selection-section .slider__button,
.page__selection-flat .slider__button,
.page__selection-parking .slider__button,
.page__selection-parking-space .slider__button {
    bottom: 63px;
}

.page__selection-flat .object__selection-subtitle span,
.page__selection-parking-space .object__selection-subtitle span {
    display: none;
}

.page__selection-parking .floor__selection-buttons,
.page__selection-parking-space .floor__selection-buttons {
    height: 247px;
}