@media (min-width: 960px) {
    .page__selection .object__selection.container {
        margin-bottom: 62px;
    }

    .page__selection .slider__button {
        bottom: 32px;
        left: 32px;
    }

    .slider__button-description {
        line-height: 24px;
        font-size: 20px;
    }

    .slider__button__link--mobile {
        display: none;
    }

    .slider__button__link--tablet {
        display: block;
    }

    .page__selection .object__selection-button {
        display: flex;
    }

    .section__selection {
        top: 90px;
        width: 100%;

    }

    .floor__selection {
        justify-content: space-between; 
        margin-right: 80px;
        margin-left: 32px;  
    }

    .floor__selection-title {
        line-height: 29px;
        font-size: 24px;
    }

    .floor__selection-buttons {
        height: 333px;
    }

    .floor__selection-item {
        line-height: 29px;
        font-size: 24px;
        font-weight: 500;
    }

    .floor__selection-item--active {
        padding-bottom: 0;
    }

    .floor__selection-item--active::before {
        top: 37px;
        left: -11px;
    }
    .page__selection .footer {
        padding-top: 16px;
    }

    .page__selection-parking .floor__selection-buttons,
    .page__selection-parking-space .floor__selection-buttons {
        height: 269px;
    }

    .page__selection-parking .floor__selection-item--active::before,
    .page__selection-parking-space .floor__selection-item--active::before {
        left: -13px;
    }
}