/* PAGE OBJECT */

.page-main {
    margin: 0;
}

.slider {
    margin: 0 16px;
}

.slider .complex {
    max-height: none;
    line-height: 29px;
    margin-top: 435px;
    margin-bottom: 8px;
    font-size: 24px;
}

.slider .slider__complex {
    padding-bottom: 0;
}

.slider .slider__complex-list {
    margin-bottom: 32px;
}

.slider .slider__complex-item-2 {
    display: block;
}

.slider .slider__complex-item {
    position: relative;
    padding: 7.5px 48px;
    margin-bottom: 8px;
}

.slider .slider__complex-item-1::before {
    position: absolute;
    top: 0;
    left: 0px;
    width: 32px;
    height: 32px;
    background-image: url("../../icons/location32.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
}

.slider .slider__complex-item-2::before {
    position: absolute;
    top: 0;
    left: 0px;
    width: 32px;
    height: 32px;
    background-image: url("../../icons/deadline32.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
}

.slider .action-button {
    margin-bottom: 24px;
}

.slider .button-main {
    margin-top: 24px;
    margin-bottom: 24px;
}

.slider picture {
    height: 698px;
}

.feedback {
    display: none;
}

.line-object {
    display: none;
}

.object__about-info {
    margin-right: 16px;
    margin-bottom: 64px;
    margin-left: 16px;
}

.object__about-video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 75%; /* задаёт высоту контейнера для 4:3 (если 16:9 — поставить 56.25%) */
    margin: 0 0 16px;
    border: 1px solid var(--background-block);
    border-radius: 16px;
    background: var(--base-white);
}

.object__about-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-width: 0;
    outline-width: 0;
}

.object__about-text {
    line-height: 20px;
    padding: 0;
    margin: 0 0 12px;
    font-size: 14px;
}

.object__about-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 279px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.object__about-item {
    display: flex;
    flex-direction: column;
    min-width: 104px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.object__about-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.object__about-data {
    line-height: 24px;
    margin-bottom: 4px;
    color: var(--accent-1);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.object-title.object__selection-title {
    margin-right: 16px;
    margin-left: 16px;
}

.object__selection-option {
    display: flex;
    justify-content: flex-start;
    margin: 0 16px 16px;
    column-gap: 8px;
}

.object__selection-slider {
    position: relative;
    height: 661px;
    margin: 16px 0 0;
}

.object__selection-subtitle {
    line-height: 29px;
    padding: 24px 16px 0;
    margin: 0;
    color: var(--base-white);
    font-size: 24px;
    font-weight: 300;
}

.object__selection-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.object__selection-slider picture {
    z-index: -1;
    max-height: 661px;
}

.object__selection-item iframe {
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 661px;
    border: none;
}

.object__selection-line {
    width: 100%;
    height: 11px;
    padding: 0;
    margin: 0;
    border-radius: 900px;
    background: rgba(255, 255, 255, 0.7);
}

.action.container {
    margin-bottom: 24px;
    margin-left: 16px;
}

.ipoteka__widget {
    display: none;
}

.ipoteka__calculation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 16px;
    margin: 0 16px;
    border: 1px solid var(--accent);
    border-radius: 12px;
    background: var(--base-white);
}

.ipoteka__calculation-button {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background: var(--accent);
    cursor: pointer;
}

.ipoteka__calculation-button:hover {
    background: var(--accent-4);
}

.ipoteka__calculation-button:active {
    background: var(--accent-3);
}

.ipoteka__calculation-button::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    background-image: url("../../icons/Go_to.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
}

.ipoteka__calculation-subtitle {
    line-height: 19px;
    color: var(--base-text);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.object__design-container {
    display: flex;
    flex-direction: column;
}

.object__design-title.object-title {
    margin: 0 16px 32px;
}

.object__design-item {
    display: none;
}

.object__design-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.object__design-item--active {
    position: relative;
    display: block;
    margin: 0 16px 16px;
}

.object__design-item .object__selection-button {
    display: none;
}

.design__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.design__card {
    position: relative;
    overflow: hidden;
    width: 296px;
    width: 343px;
    height: 429px;
    height: 315px;
    padding: 0;
    margin: 0;
    border-radius: 16px;
    border-radius: 16px;
}

.design_image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.object__design-control {
    display: flex;
    flex-direction: column;
    margin: 0 16px 24px;
    row-gap: 12px;
}

#design-1:checked~.object__design-control .design-item-1,
#design-2:checked~.object__design-control .design-item-2,
#design-3:checked~.object__design-control .design-item-3 {
    border: 1px solid var(--accent);
    background: var(--background-color);
}

.object__design-control-item {
    display: block;
    border: 1px solid var(--background-block);
    border-radius: 12px;
    background: var(--base-white);
}

.object__design-name {
    display: block;
    line-height: 24px;
    padding: 0;
    margin: 15px 16px 12px;
    color: var(--base-text);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.object__design-description {
    display: block;
    line-height: 17px;
    padding: 0;
    margin: 0 16px 15px;
    font-size: 12px;
}

.object__design-buttons-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 16px;
    list-style: none;
    row-gap: 12px;
}

.object__design-buttons-link {
    margin: 0;
}

.object__design-buttons-detailed .object__design-buttons-link {
    padding: 21px;
    border: 1px solid var(--accent);
    color: var(--base-text);
    background: var(--base-white);
}

.other__title.title {
    margin: 0 16px 32px;
}

.other .other__list {
    margin-left: 16px;
}

.other .other__action-button {
    margin-left: 16px;
}

.object__customer .button-phone {
    width: auto;
    margin: 0 16px;
}

