@media (min-width: 960px) {
  /* PAGE OBJECT */

  .page__object .complex {
    line-height: 56px;
    margin: 710px 0 16px 0;
    margin-bottom: 16px;
    font-size: 40px;
  }

  .page__object .slider__complex-list {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .page__object .slider__complex-item {
    align-items: center;
    line-height: 20px;
    padding: 10px 0 10px 56px;
    margin-right: 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
  }

  .page__object .slider__complex-item-1::before {
    width: 40px;
    height: 40px;
    background-image: url("../../icons/location40.svg");
  }

  .page__object .slider__complex-item-2::before {
    width: 40px;
    height: 40px;
    background-image: url("../../icons/deadline40.svg");
  }

  .page__object .button-main {
    margin-top: 32px;
    margin-bottom: 48px;
  }

  .page__object .slider picture {
    height: 1000px;
  }

  .page__object .page__header-wrapper-object .page__header-logo-wrapper {
    margin-bottom: 64px;
  }

  .page__object .page__header-buttons-link .buttons-text {
    display: inline;
  }

  .page__object .page__header-buttons-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    border: none;
    list-style: none;
    column-gap: 16px;
  }

  .page__object .page__header-buttons-item {
    position: relative;
  }

  .page__object .page__header-wrapper-object .page__header-buttons-link {
    min-width: 220px;
    line-height: 17px;
    padding: 18.5px;
    text-align: right;
    font-size: 12px;
  }

  .page__object .buttons-text-mobile {
    display: none;
  }

  .page__object .page__header-buttons-call::before {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/call24.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
  }

  .page__object .page__header-buttons-ipoteka::before {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/ipoteka-filter24.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
  }

  .page__object .page__header-buttons-booklet::before {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/Booklet24.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
  }

  .page__object .page__header-buttons-taxi::before {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/Taxi24.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    content: "";
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-container {
    display: block;
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-email {
    display: block;
    line-height: 24px;
    color: var(--gray-text);
    font-family: "Geologica", Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  .page__object .page__header-wrapper-object--opened .page__header-buttons2-list {
    display: none;
  }

  .page__object .page__header-wrapper-object--opened .page__header-logo-wrapper {
    margin-bottom: 1px;
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-container {
    margin-bottom: 21px;
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-connection {
    display: flex;
    justify-content: space-between;
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-buttons {
    display: flex;
    column-gap: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-button {
    min-width: 216px;
    padding: 15px;
    margin: 0;
    border: 1px solid var(--accent);
    border-radius: 16px;
    background: var(--base-white);
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-subtitle {
    color: var(--base-text);
    font-weight: 400;
  }

  .page__object .page__header-wrapper-object--opened .header__contacts-connection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
  }

  .page__object .page__header-wrapper-object--opened .header__nav-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .page__object .page__header-wrapper-object .header__nav-item:last-child {
    margin-bottom: 0;
  }

  .page__object .page__header-wrapper-object--opened .header__nav-list-additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
  }

  .page__object .page__header-wrapper-object--opened .header__nav-list-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
  }

  .page__object .object__about-info {
    display: grid;
    grid-template-areas:
      "title video"
      "text video"
      "list video";
    column-gap: 16px;
    grid-template-columns: 36.5% auto;
    grid-template-rows: repeat(3, auto);
  }

  .page__object .object__about-title {
    margin-top: 0;
    margin-bottom: 24px;
    grid-area: title;
  }

  .page__object .object__about-information {
    width: 338px;
  }

  .page__object .object__about-video {
    margin-bottom: 0;
    grid-area: video;
  }

  .page__object .object__about-text {
    line-height: 17px;
    font-size: 12px;
    grid-area: text;
  }

  .page__object .object__about-list {
    grid-area: list;
  }

  .page__object .object__selection-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px 32px;
  }

  .page__object .object__selection-title {
    line-height: 38px;
    margin: 0;
    font-size: 32px;
  }

  .page__object .object__selection-option {
    overflow: hidden;
    margin: 0;
    border: 1px solid var(--background-block);
    border-radius: 12px;
    background: var(--base-white);
    column-gap: 0;
  }

  .page__object .option__button {
    min-width: auto;
    padding: 16px 20px;
    border: none;
    border-radius: 0;
  }

  .page__object .object__selection-buttons {
    display: none;
  }

  .page__object .object__selection-subtitle {
    line-height: 38px;
    padding: 32px 32px 0;
    font-size: 32px;
  }

  .page__object .object__selection-button {
    justify-content: end;
    margin-top: 554px;
  }

  .page__object .ipoteka__calculation {
    margin-bottom: 64px;
  }

  .page__object .ipoteka__calculation-subtitle {
    line-height: 24px;
    font-size: 20px;
  }

  .page__object .object__advantage-list {
    column-gap: 12px;
  }

  .page__object .object__advantage-title {
    margin-bottom: 48px;
  }

  .page__object .object__design-container {
    display: grid;
    grid-template-areas:
      "design-image design-title"
      "design-image design-radio"
      "design-buttons design-buttons";
    column-gap: 16px;
  }

  .page__object .object__design-control {
    margin-left: 0;
  }

  .page__object .object__design-buttons-list {
    grid-area: design-buttons;
  }

  .page__object .object__design-buttons-detailed .object__design-buttons-link {
    padding: 19px;
  }

  .page__object .object__design-title {
    line-height: 38px;
    margin-bottom: 24px;
    margin-left: 0;
    font-size: 32px;
    grid-area: design-title;
  }

  .page__object .object__design-list {
    margin-bottom: 0;
    grid-area: design-image;
  }


  .page__object .object__design-item--active {
    margin-right: 0;
  }

  .page__object .object__design-slider {
    margin-bottom: 0;
    grid-area: design-radio;
  }

  .page__object .design__card {
    width: 456px;
    height: 441px;
  }

  .page__object .object__design-name {
    line-height: 29px;
    font-size: 24px;
  }

  .page__object .object__design-item .object__selection-button {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  .page__object .object__map {
    margin-bottom: 16px;
  }

  .page__object .object__map-container {
    width: auto;
    height: 559px;
    margin-bottom: 17px;
  }

  .page__object .object__map-title {
    line-height: 38px;
    font-size: 32px;
  }

  .page__object .object__map-buttons-link {
    line-height: 20px;
    font-size: 14px;
  }

  .page__object .other {
    margin-bottom: 64px;
  }

  .page__object .other__title {
    line-height: 38px;
    margin: 48px 16px 48px;
    font-size: 32px;
  }

  .page__object .other__list {
    margin: 0 16px 16px;
  }

  .page__object .other__action-button {
    margin-bottom: 0;
  }

  .page__object .object__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .page__object .object__info-title {
    line-height: 38px;
    font-size: 32px;
  }

  .page__object .object__info-news .object__info-item {
    margin-right: 0;
  }

  .page__object .object__info-item {
    width: 456px;
  }

  .page__object .object__info-news {
    margin-bottom: 0;
  }

  .page__object .object__gallery-title {
    line-height: 38px;
    font-size: 32px;
  }

  .page__object .object__gallery-item {
    min-width: 298px;
    min-height: 298px;
  }

  .page__object .object__gallery-item figure {
    width: 298px;
    height: 298px;
  }

  .page__object .object__customer {
    margin-bottom: 48px;
  }

  .page__object .object__customer-title {
    line-height: 38px;
    margin-bottom: 32px;
    font-size: 32px;
  }

  .page__object .object__customer-container {
    line-height: 20px;
    margin-bottom: 48px;
    font-size: 14px;
  }

  .page__object .object__customer .object__info-list {
    display: grid;
    margin: 0 16px 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    gap: 16px;
  }

  .page__object .object__customer .object__info-item {
    margin: 0;
  }

  .page__object .object__customer .object__info-text {
    line-height: 19px;
    font-size: 16px;
  }

  .object__info-text-long br {
    display: none;
  }

  .page__object .object__customer-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 32px;
  }

  .page__object .object__customer-account-title {
    max-width: 628px;
    line-height: 24px;
    margin: 0;
    font-size: 20px;
  }

  .page__object .object__customer-account-button {
    padding: 22px 19.5px;
  }

  .page__object .object__customer-service {
    display: flex;
    justify-content: space-between;
  }

  .page__object .object__customer-service-address {
    text-align: end;
  }

  .page__object .object__customer-service-south {
    margin-bottom: 16px;
  }

  .page__object .object__customer-office {
    display: grid;
    margin: 0 16px 80px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .page__object .object__customer-office figure {
    width: auto;
    height: 309px;
    margin: 0;
  }

  .page__object .object__customer-office .object__map-container {
    width: auto;
    height: 309px;
    margin: 0;
  }

  .page__object .object__customer .button-phone {
    display: block;
    width: 407px;
    padding: 21px;
    margin: 0 auto;
}
  }
