/* Logo */
.page__header-logo-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.page__header-logo {
    display: block;
    justify-content: space-between;
}

.page__header-logo picture {
    display: block;
    width: 87px;
    height: 48px;
}

@media (min-width: 1440px) {
    .page__header-logo-wrapper {
        align-items: center;
        max-height: 104px;
        padding: 20px 24px 20px 32px;
    }

    .page__header-logo picture {
        width: 115px;
        height: 64px;
    }

}