@media (min-width: 1440px) {

    /* Global */
    html {
        width: 100%;
    }

    header,
    .page-main,
    footer {
        margin: 0 auto;
    }

    /* header hover, action */

    .page__header-wrapper:hover .header__nav-item a {
        color: var(--base-text);
    }

    .page__header-wrapper:hover .header__contacts-phone {
        color: var(--base-text);
    }

    /* Header */
    .page__header-wrapper {
        position: fixed;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-right: calc(50% - 720px);
        padding-left: calc(50% - 720px);
        background-color: var(--opacity-background);
        backdrop-filter: blur(4px);
    }

    .page__header-wrapper:hover {
        background-color: var(--base-white);
        backdrop-filter: none;
    }

    .header__nav-item a {
        display: block;
        padding: 0 10px;
        color: var(--base-white);
    }

    .header {
        display: block;
        margin: 0;
    }

    .header__stats {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 34px 0;
    }

    .header__nav-list {
        flex-direction: row;
    }

    .page__header-logo-wrapper {
        align-items: center;
        max-height: 120px;
        padding: 20px 24px 20px 32px;
    }

    .page__header-logo picture {
        width: 144px;
        height: 80px;
    }

    .header__nav {
        margin-top: 0;
    }

    .page__header-nav-toggle {
        display: none;
    }

    .header__nav-about {
        order: 7;
    }

    .header__nav-rent {
        order: 6;
    }

    .header__nav-business {
        order: 5;
    }

    .header__nav-design {
        order: 4;
    }

    .header__nav-buy {
        order: 3;
    }


    .header__nav-list {
        position: relative;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        width: 795px;
        margin-right: 50px;
    }

    .header__nav-item a {
        display: block;
        padding: 0 10px;
        color: var(--base-white);
    }


    .header__nav-item:last-child a {
        padding-right: 0;
    }

    .header__nav-item {
        line-height: 22px;
        margin-bottom: 0;
        color: var(--base-white);
        font-family: 'Min Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .header__nav-item {
        width: auto;
        box-sizing: border-box;
        text-align: center;
    }

    .header__nav-item--nodesktop {
        display: none;
    }

    .header__nav-item:hover,
    .header__nav-item:active {
        text-decoration: underline;
        text-decoration-color: var(--accent);
        text-underline-offset: 46px;
        text-decoration-thickness: 4px;
    }

    .header__nav-item:hover a,
    .header__nav-item:active a {
        color: var(--accent);
    }

    .header__contacts-container {
        order: 3;
        margin-bottom: 0;
    }

    .header__contacts-title {
        display: none;
    }

    .header__contacts-phone {
        max-width: 155px;
        line-height: 22px;
        margin-right: 0;
        color: var(--base-white);
        font-family: 'Min Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .line {
        display: none;
    }

    .line-3--active {
        display: block;
    }

    .header__usernav {
        display: block;
        justify-content: flex-end;
        order: 4;
    }

    .header__usernav-list {
        margin-right: 32px;
    }

    .header__usernav-link {
        cursor: pointer;
    }

    .page__header-wrapper:hover .header__usernav-comparison svg path {
        stroke: var(--base-black);
    }

    .header__usernav-comparison:hover svg rect {
        stroke: var(--accent);
    }

    .header__usernav-comparison:active svg rect {
        stroke: var(--accent);
    }

    .header__usernav-comparison:active svg {
        fill: var(--color-action);
    }

    .header__usernav-comparison:hover::before {
        position: absolute;
        top: 88px;
        right: 129px;
        width: 126px;
        height: 39px;
        background-image: url("../../icons/comparison.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        content: "";
    }

    .header__usernav-favourite:hover::before {
        position: absolute;
        top: 88px;
        right: 61px;
        width: 126px;
        height: 39px;
        background-image: url("../../icons/favourite.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        content: "";
    }

    .page__header-wrapper:hover .header__usernav-favourite svg path {
        stroke: var(--base-black);
    }

    .header__usernav-favourite:hover svg rect {
        stroke: var(--accent);
    }

    .header__usernav-favourite:active svg rect {
        stroke: var(--accent);
    }

    .header__usernav-favourite:active svg {
        fill: var(--color-action);
    }

    .header__usernav-account:hover::before {
        position: absolute;
        top: 88px;
        right: 11px;
        width: 135px;
        height: 39px;
        background-image: url("../../icons/account.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        content: "";
    }

    .page__header-wrapper:hover .header__usernav-account svg path {
        stroke: var(--base-black);
    }

    .header__usernav-account:hover svg rect {
        stroke: var(--accent);
    }

    .header__usernav-account:active svg rect {
        stroke: var(--accent);
    }

    .header__usernav-account:active svg {
        fill: var(--color-action);
    }

    .info {
        margin: 20px 16px;
    }

    .info {
        display: none;
    }

    .info-wrapper {
        padding: 0 16px;
        border: none;
    }

    .info-wrapper:last-child {
        margin-bottom: 0;
    }

    .info--active {
        display: grid;
        max-height: 235px;
        padding-right: 16px;
        grid-template-columns: 1fr 448px 448px;
        column-gap: 16px;
    }

    .info-wrapper--static {
        display: none;
    }

    .info-title {
        display: none;
    }

    .info-wrapper--active .info-item {
        line-height: 19px;
        font-size: 16px;
    }

    .info-subtitle {
        padding-left: 44px;
        margin-bottom: 8px;
    }

    .info-amount {
        line-height: 17px;
        padding-left: 44px;
        font-size: 12px;
    }

    .info__buy-container {
        height: 68px;
        margin-bottom: 0;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
    }

    .info__buy-online {
        order: 2;
    }

    .info__buy-list {
        display: grid;
        grid-template-columns: 232px 233px 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 0;
    }

    .info__buy-list .info-item {
        line-height: 19px;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .info__realty-container {
        margin-right: 52px;
    }

    .info__realty-list {
        display: grid;
        grid-template-columns: 232px auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
    }

    .info__realty-list .info-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 19px;
        margin-bottom: 22px;
        font-size: 16px;
    }

    .info-wrapper--active.info__rent-container {
        display: block;
        margin-right: 20px;
    }

    .info__rent-list {
        display: grid;
        grid-template-columns: 232px auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
    }

    .info__rent-list .info-item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 19px;
        margin-bottom: 22px;
        font-size: 16px;
    }

    .info__about-container {
        height: 156px;
        grid-column: 1 / 3;
    }

    .info__about-list {
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        column-gap: 98px;
    }

    .info__about-list .info-item {
        line-height: 19px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .info__business-container {
        width: 448px;
        grid-column: 1 / 2;
    }

    .info__business-item {
        margin-bottom: 20px;
    }

    .info-wrapper--active.info__action-container {
        display: block;
        width: 448px;
        height: 195px;
        box-sizing: border-box;
        padding: 5px;
        margin: 0;
        background: var(--color-action);
    }

    .info__action-container .info-wrapper {
        background-color: var(--color-action);
    }

    .info-wrapper--invisible {
        display: none;
    }

    .feedback {
        display: none;
    }

    .feedback--action {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 32px;
        border-radius: 0px 0px 12px 12px;
        background: var(--accent-2);
    }

    .feedback--action .information-container {
        display: flex;
        align-items: center;
    }

    .feedback--action .information-phone,
    .feedback--action .information-mail {
        min-width: 160px;
        line-height: 19px;
        margin-right: 48px;
        color: var(--base-white);
        font-family: "Geologica", Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
    }

    .feedback--active .social {
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
    }

    .feedback--active .social {
        background: none;
    }

    .feedback--action .social__title {
        line-height: 20px;
        margin: 0;
        font-family: 'Min Sans';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;

    }

    .feedback--action .social__list {
        margin: 0;
    }

    .feedback--action .social__item {
        line-height: 22px;
        margin-left: 24px;
        color: var(--base-white);
        font-family: 'Min Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        text-decoration-line: underline;
    }

    .feedback--action.social__link {
        text-decoration-line: underline;
    }

    /*Main*/

    .slider {
        max-width: 1240px;
        margin: 0 auto;
    }

    .slider__complex {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .slider picture {
        height: 900px;
    }

    .complex {
        max-height: 67px;
        line-height: 67px;
        margin-top: 677px;
        font-family: "Geologica", Arial, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
    }

    .slider__complex-item {
        width: 565px;
        max-height: 68px;
        line-height: 34px;
        font-family: 'Min Sans';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }

    .button-main {
        align-self: flex-end;
        width: 298px;
        height: 64px;
        margin: 0;
        margin: 0;
    }

    .slider__button {
        position: absolute;
        top: -171px;
        left: 0;
        display: flex;
        display: flex;
        width: 140px;
        height: 64px;
    }

    .slider__button__link {
        position: relative;
        width: 64px;
        height: 64px;
        cursor: pointer;
    }

    .slider__button__link:first-child {
        margin-right: 12px;
    }

    .slider__button__link:hover svg rect {
        stroke: var(--accent);
        fill: var(--base-white);
        fill-opacity: 1;
    }

    .slider__button__link:hover svg path {
        stroke: var(--accent);
    }

    .slider__button__link:active svg rect {
        stroke: var(--accent);
        fill: var(--color-action);
    }

    .slider__button__link:active svg path {
        stroke: var(--accent);
    }

    .slider__button__link:active svg {
        stroke: var(--accent);
    }

    /* Action */

    .action {
        max-width: 1240px;
        margin: 0 auto 128px auto;

    }

    .action__container {
        flex-direction: column;
        width: 100%;
        height: 498px;

    }

    .action__list {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);

    }

    .action__item {
        flex-grow: 3;
    }

    .action__item {
        position: relative;
        min-width: 100%;
        min-height: 25%;
        margin-bottom: 16px;
        border-radius: 12px;
        background-color: var(--accent-1);
    }

    .action__deadline {
        top: 24px;
        left: 24px;
    }

    .action__house {
        top: 65px;
        left: 24px;
    }

    .action__container .action__item:last-child {
        margin-bottom: 0;
    }

    .action__container-3 .action__house {
        /* эти три свойства должны применяться, когда элементов в блоке больше 3 */
        top: 24px;
        left: 204px;
    }

    .action__container-3 .action__subtitle {
        max-width: 298px;
        line-height: 24px;
        font-size: 20px;
    }

    .action__container-3 .action__subtitle br {
        display: none;
    }


    /* вариант на гридах 
    .action__list {
        display: grid;
        grid-template-areas:
            "action-1 action-2 action-4"
            "action-1 action-2 action-4"
            "action-1 action-2 action-5"
            "action-1 action-3 action-5"
            "action-1 action-3 action-6"
            "action-1 action-3 action-6";
        height: 498px;
        gap: 16px;
    }

    .action__item {
        min-width: 100%;
        min-height: 100%;
    }

    .action__list .action__item:first-child {
        grid-area: action-1;
    }

    .action__list .action__item:nth-child(2) {
        grid-area: action-2;
    }

    .action__list .action__item:nth-child(3) {
        grid-area: action-3;
    }

    .action__list .action__item:nth-child(4) {
        grid-area: action-4;
    }

    .action__list .action__item:nth-child(5) {
        grid-area: action-5;
    }

    .action__list .action__item:nth-child(6) {
        grid-area: action-6;
    }

        .action__item:nth-child(n+4) .action__house {
        top: 24px;
        left: 204px;
    }
*/
    .title {
        line-height: 56px;
        font-size: 40px;
    }

    .action__title {
        margin-top: 128px;
    }

    .action__subtitle {
        line-height: 29px;
        font-size: 24px;
    }

    .action-button,
    .other__action-button,
    .carousel__action-button {
        display: none;
    }

    /* Filters */
    .filter__title,
    .filter__title--tablet {
        display: none;
    }

    
    .filter__title--desktop {
        display: block;
    }

    .filter {
        max-width: 1240px;
        margin: 0 auto;
    }

    ul.filters {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
    }

    .filter-button .button {
        margin-right: 0;
    }

    .room-count-item:last-child {
        margin-right: 0;
    }

    .room-count-item:first-child {
        padding-right: 0;
    }

    .room-count-list {
        flex-wrap: nowrap;
        padding-right: 14px;
    }

    /* Object */

    .object {
        max-width: 1240px;
        margin: 0 auto;
    }

    .object__title {
        margin-top: 123px;
        margin-bottom: 48px;
    }

    .object-item:nth-child(4n+3) {
        margin-right: 0;
    }

    .object__action-item {
        display: flex;
        flex-direction: column;
        max-width: 298px;
        max-height: 550px;
        margin-left: 16px;
    }

    .object__action {
        position: relative;
        display: block;
        min-width: 298px;
        min-height: 415px;
        margin-right: 0;
        margin-bottom: 16px;
        border-radius: 12px;
        background-color: var(--accent-1);
    }

    .object-button {
        position: relative;
        display: block;
        align-self: flex-end;
        flex-grow: 1;
        width: 100%;
        height: 100%;
        line-height: 20px;
        padding: 82px 52px 16px 16px;
        margin: 0;
        font-size: 14px;

    }

    .object-button::after {
        position: absolute;
        right: 16px;
        bottom: 16px;
        width: 24px;
        height: 24px;
        background-image: url("../../icons/Left_24px.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        content: "";
    }

    .action__slider {
        position: absolute;
        bottom: 16px;
        left: 16px;
        display: flex;
        width: 266px;
        height: 3px;
        column-gap: 12px;
    }

    .action__slider p {
        position: relative;
        width: 44px;
        height: 3px;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .action__slider p::before {
        position: absolute;
        z-index: 25;
        top: 0;
        left: 0;
        width: 44px;
        height: 3px;
        border-radius: 4px;
        background: var(--base-white);
        content: "";
    }

    .object__action .action__subtitle {
        bottom: 39px;
    }

    /* Carousel*/

    .carousel {
        position: relative;
        max-width: 1240px;
        margin: 76px auto 96px auto;
    }

    .carousel__slider {
        position: absolute;
        top: 127px;
        right: 0;
        display: flex;
        width: 140px;
        height: 64px;
    }

    .carousel__link {
        cursor: pointer;
    }

    .carousel__link:hover svg rect {
        stroke: var(--accent-2);
    }

    .carousel__link:active svg {
        fill: var(--color-action);
    }


    .carousel__link:first-child {
        margin-right: 12px;
    }

    .sorting {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
    }

    .sorting-price {
        display: flex;
    }

    .sorting-list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        column-gap: 8px;
    }

    .sorting-item {
        padding: 7px 23px;
        margin-bottom: 12px;
        border: 1px solid var(--background-block);
        border-radius: 900px;
    }

    .sorting-item:hover {
        border: 1px solid var(--accent);
    }

    .sorting-item:active {
        background: var(--accent);
    }

    .sorting-item a {
        line-height: 17px;
        color: var(--base-text);
        font-size: 12px;
    }

    .sorting-item:active a {
        color: var(--base-white);
    }

    /* Flat */

    .flat {
        margin-bottom: 24px;
    }

    .flat-subtitle {
        line-height: 29px;
        font-size: 24px;
    }

    .flat__item {
        width: 298px;
        height: 645px;
    }

    .flat__image {
        height: 200px;
        margin: 39px 0;
    }

    .data {
        line-height: 20px;
        font-size: 14px;
    }

    .filter__button-flat {
        width: 402px;
        height: 64px;
        line-height: 22px;
        padding: 21px 62px;
        margin: 0 auto;
        border: 1px solid var(--accent);
        border-radius: 16px;
        color: var(--base-text);
        background: var(--base-white);
        font-size: 16px;
        font-weight: 400;
    }

    .flat__advantages-title {
        line-height: 17px;
        font-size: 12px;
    }

    .flat__advantages {
        max-width: 225px;
        height: 70px;
        margin-bottom: 16px;
    }

    .flat__description-item {
        align-items: center;
        margin-bottom: 16px;
    }

    .flat__design {
        margin-bottom: 24px;
    }

    .flat__price {
        align-items: center;
        justify-content: flex-end;
    }

    .flat__price span {
        line-height: 29px;
        margin-left: 8px;
        font-size: 24px;
    }

    .button-flats {
        width: 402px;
        height: 54px;
        line-height: 22px;
        padding: 16px 48px;
        margin: 0 auto;
        border: 1px solid var(--accent);
        border-radius: 16px;
        color: var(--base-text);
        background: var(--base-white);
        font-size: 16px;
        font-weight: 400;
    }

    /* Other */

    .other {
        max-width: 1240px;
        margin: 0 auto 71px auto;
    }

    .other__title {
        margin-bottom: 48px;
    }

    .other__subtitle {
        line-height: 38px;
        font-size: 32px;
        font-weight: 300;
    }

    .other__carplaces {
        grid-area: carplaces;
    }

    .other__commerce {
        grid-area: commerce;
    }

    .other__storage {
        grid-area: storage;
    }

    .other__design {
        grid-area: design;
    }

    .other__rent {
        grid-area: rent;
    }

    .other__career {
        grid-area: career;
    }

    .other__empty {
        display: block;
        width: 0;
        height: 0;
        grid-area: empty;
    }

    .other__list {
        display: grid;
        height: 842px;
        margin-bottom: 80px;
        grid-template-areas:
            "carplaces carplaces commerce commerce storage storage"
            "carplaces carplaces commerce commerce storage storage"
            "empty empty empty empty empty empty"
            "design design design rent rent rent"
            "design design design career career career";
        row-gap: 16px;
    }

    .other__list figure {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .other__item {
        position: relative;
        width: 100%;
        min-width: 403px;
        height: 100%;
        min-height: 194px;
    }

    .other__slider {
        position: absolute;
        right: 16px;
        bottom: 16px;
        display: block;
        width: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .other__slider:hover svg rect {
        stroke: var(--accent);
        fill: var(--base-white);
        fill-opacity: 1;
    }

    .other__slider:hover svg path {
        stroke: var(--accent);
    }

    .other__slider:active svg rect {
        stroke: var(--accent);
        fill: var(--color-action);
    }

    .other__slider:active svg path {
        stroke: var(--accent);
    }

    .other__slider:active svg {
        stroke: var(--accent);
    }

    .other__link {
        height: 100%;
        pointer-events: none;
    }

    .button-phone {
        width: 407px;
        height: 64px;
        line-height: 22px;
        padding: 21px 116px 21px 116px;
        margin: 0 auto;
        border-radius: 16px;
        font-size: 16px;
        font-weight: 400;
    }

    .line-4 {
        display: block;
    }

    /* Footer */

    .footer__container {
        display: grid;
        max-width: 1240px;
        margin: 0 auto;
        grid-template-areas:
            "contacts vertical-line menu"
            "social vertical-line menu"
            "subscription vertical-line menu"
            "line line line"
            "logo logo logo";
    }

    .footer__social-container {
        grid-area: social;
    }

    .footer__contacts-wrapper {
        max-width: 1240px;
        margin-top: 48px;
        grid-area: contacts;
    }

    .footer__subscription-container {
        grid-area: subscription;
    }

    .line-9 {
        display: block;
        grid-area: line;
    }

    .footer__logo-container {
        max-width: 1440px;
        grid-area: logo;
    }

    .footer__menu-container {
        display: grid;
        margin-top: 28px;
        margin-right: 130px;
        margin-bottom: 48px;
        margin-left: 62px;
        grid-area: menu;
        grid-template-areas:
            "realty flat object buy"
            "location deadline other about";
        column-gap: 16px;
    }

    .footer__flat-container {
        grid-area: flat;
    }

    .footer__realty-container {
        grid-area: realty;
    }

    .footer__buy-container {
        grid-area: buy;
    }

    .footer__object-container {
        max-width: 193px;
        grid-area: object;
    }

    .footer__other-container {
        grid-area: other;
    }

    .footer__about-container {
        grid-area: about;
    }

    .footer__location-container {
        max-width: 194px;
        grid-area: location;
    }

    .footer__deadline-container {
        grid-area: deadline;
    }

    .vertical-line {
        display: block;
        height: 94%;
        padding: 0;
        margin: 0;
        margin-top: 23px;
        grid-area: vertical-line;
    }

    .vertical-line__mobile {
        width: 1px;
        height: 100%;
        padding: 16px 0;
        margin: 0;
        border-radius: 2px;
        background: var(--background-block);
    }

    .footer__contacts {
        display: none;
    }

    .footer__contacts-phone {
        line-height: 28px;
        font-family: "Min Sans", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    .footer__contacts-mail {
        line-height: 28px;
        font-family: "Min Sans", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    .footer__social {
        display: none;
    }

    .footer__social-tablet {
        display: block;
        line-height: 22px;
        margin-bottom: 24px;
        font-family: "Min Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .footer__social-list {
        display: flex;
        flex-direction: column;
    }

    .footer__social-item {
        margin-bottom: 12px;
    }

    .footer__social-link {
        line-height: 22px;
        font-family: "Min Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-decoration-line: underline;
    }

    .label-email br {
        display: block;
    }

    .footer__subscription-container {
        display: flex;
        flex-direction: column;
    }

    .footer__subscription-container p {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .footer__subscription-container input {
        width: 235px;
        height: 64px;
        margin: 12px 16px 16px 0;
    }

    button.button-submit {
        width: 235px;
        padding: 20px;
        margin-top: 0;
        margin-right: 16px;
        border: 1px solid var(--accent);
        border-radius: 16px;
        color: var(--base-text);
        background-color: var(--base-white);
        cursor: pointer;
    }

    .footer__menu-title {
        line-height: 28px;
        color: var(--base-text);
        font-family: "Min Sans", Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    .footer__menu-item {
        line-height: 22px;
        margin-bottom: 8px;
        color: var(--base-text);
        font-family: "Min Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .footer__deadline-title {
        margin-top: 20px;
    }

    .footer__info {
        width: 974px;
        line-height: 17px;
        font-size: 12px;
    }

    .footer__info br {
        display: none;
    }

    /* Modal */

    .modal {
        top: 198px;
        width: 821px;
    }

    .modal__subtitle {
        line-height: 38px;
        margin: 24px 32px 32px;
        font-size: 32px;
    }

    .modal__text {
        width: 476px;
        line-height: 22px;
        margin: 32px 32px 40px;
        font-size: 16px;
    }

    .modal__button {
        margin: 40px 32px 48px;
    }

    .modal__toggle {
        top: 32px;
        right: 32px;
    }
}