@media (min-width: 1440px) {
    /*Main*/

       .action__title {
        margin-top: 0;
    }

    .action__subtitle {
        line-height: 29px;
        font-size: 24px;
    }

    /* Filters */
    .filter__title,
    .filter__title--tablet {
        display: none;
    }


    .filter__title--desktop {
        display: block;
    }

    .filter {
        max-width: 1240px;
        margin: 0 auto;
    }

    ul.filters {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
    }

    .filter-button .button {
        margin-right: 0;
    }

    .room-count-item:last-child {
        margin-right: 0;
    }

    .room-count-item:first-child {
        padding-right: 0;
    }

    .room-count-list {
        flex-wrap: nowrap;
        padding-right: 14px;
    }

    .object-item:first-child .metro {
        margin: auto 0 17px;
    }

    .object__selection-button .selection-button-item {
        width: 44px;
        height: 3px;
    }
}