/* MAIN PAGE*/

/* Header */

 .page__header-wrapper {
     position: fixed;
     z-index: 999;
     top:0;
     width: 100%;
 }

 .page__header-wrapper::before {
     position: absolute;
     z-index: -1;
     right: 0;
     bottom: 0;
     left: 0;
     height: 100%;
     box-sizing: border-box;
     background-color: var(--opacity-background);
     content: '';
     backdrop-filter: blur(4px);
 }

 .page__header-wrapper--opened::before {
     position: absolute;
     z-index: -1;
     right: 0;
     bottom: 0;
     left: 0;
     height: 100%;
     box-sizing: border-box;
     background-color: var(--base-white);
     content: '';
 }

 .header {
     display: none;
 }

 .page__header-wrapper--opened .header {
     display: block;
 }

 .feedback {
     display: none;
 }

 .page__header-wrapper--opened .feedback {
     display: block;
 }

 .info {
     display: none;
 }

 .page__header-wrapper--opened .info {
     display: block;
 }

 .page__header-wrapper--opened {
     position: fixed;
     z-index: 101;
     top: 0;
     left: 0;
     overflow: hidden;
     overflow-y: scroll;
     width: 100%;
     height: 100%;
     background-color: var(--base-white);
 }

 /* header__stats */

 .header__stats {
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 16px 16px 0;
     margin: 0;
 }


 /* Logo */
 .page__header-logo-wrapper {
     display: flex;
     justify-content: space-between;
     padding: 16px;
 }

 .page__header-logo {
     display: block;
     justify-content: space-between;
 }

 .page__header-logo picture {
     display: block;
     width: 87px;
     height: 48px;
 }

 /* navigation */

 .page__header-nav-toggle {
     position: relative;
     z-index: 2;
     display: block;
     width: 40px;
     height: 40px;
     margin: 4px 0;
     border: none;
     border-radius: 50%;
     background-color: var(--background-block);
     cursor: pointer;
 }

 .page__header-wrapper--nojs .page__header-nav-toggle {
     display: none;
 }

 .page__header-wrapper--opened .page__header-nav-toggle {
     background-color: var(--accent);
 }

 .page__header-nav-toggle::before {
     position: absolute;
     top: 14px;
     right: 11px;
     width: 18px;
     height: 2px;
     border-radius: 25px;
     background-color: var(--base-text);
     box-shadow: 0 5px 0 0 var(--base-text), 0 10px 0 0 var(--base-text);
     content: "";
 }

 .page__header-wrapper--opened .page__header-nav-toggle::before {
     position: absolute;
     z-index: 3;
     top: 19px;
     right: 11px;
     width: 18px;
     height: 2px;
     border: none;
     border-radius: 1px;
     background-color: var(--base-white);
     box-shadow: none;
     content: "";
     transform: rotate(45deg);
 }

 .page__header-wrapper--opened .page__header-nav-toggle::after {
     position: absolute;
     top: 19px;
     right: 11px;
     width: 18px;
     height: 2px;
     border: none;
     border-radius: 1px;
     background-color: var(--base-white);
     box-shadow: none;
     content: "";
     transform: rotate(-45deg);
 }

 .header__nav {
     margin-top: 16px;
 }

 .header__nav-list {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     padding: 0;
     margin: 0;
     list-style: none;
 }

 .header__nav-list a {
     color: var(--base-black);
 }

 .header__nav-item {
     line-height: 24px;
     margin-bottom: 20px;
     color: var(--base-black);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
 }

 .header__nav-item:last-child {
     margin-bottom: 24px;
 }

 /* contacts */

 .header__contacts-container {
     margin-bottom: 16px;
 }

 .header__contacts-link {
     display: flex;
 }

 .header__contacts-title {
     padding: 0;
     margin: 0;
     margin-bottom: 4px;
 }

 .header__contacts-phone {
     line-height: 24px;
     margin-right: 34px;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
 }

 .header__contacts-email {
     display: none;
 }

 /* line */

 .line {
     width: 100%;
     padding: 0;
     margin: 0;
 }

 .line-3 {
     display: none;
 }

 .line__mobile {
     width: 100%;
     height: 1px;
     padding: 0;
     margin: 0;
     background: var(--background-block);
 }

 /* user navigation */

 .header__usernav {
     display: none;
 }

 .header__usernav-list {
     display: flex;
     flex-wrap: wrap;
     max-width: 184px;
     padding: 0;
     margin: 0;
     margin-right: 16px;
     margin-left: 24px;
     list-style: none;
 }

 .header__usernav-item {
     margin-left: 20px;
 }

 .header__usernav-item:nth-child(4n) {
    margin-left: 0;
 }

 .header__usernav-item:first-child {
     margin-left: 0;
 }

 /* header info */

 .info {
     margin: 16px;
 }

 .info-wrapper {
     padding: 16px;
     margin-bottom: 16px;
     border: 1px solid var(--background-block);
     border-radius: 16px;
 }

 .info-wrapper:first-child {
     margin-top: 20px;
 }

 .info-wrapper:last-child {
     margin-bottom: 36px;
 }

 .info-list {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     padding: 0;
     margin: 0;
     list-style: none;
 }

 .info-list a {
     color: var(--base-black);
 }

 .info-title {
     line-height: 17px;
     padding: 0;
     margin: 0;
     margin-bottom: 20px;
     color: var(--gray-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 300;
 }

 .info-item {
     line-height: 17px;
     margin-bottom: 20px;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
 }

 .info-item:last-child {
     margin-bottom: 0;
 }


 .info-link {
     position: relative;
 }

 .info-icon {
     position: absolute;
     top: 0.5px;
 }

 .info-subtitle {
     padding-left: 28px;
 }

 .info-amount {
     line-height: 14px;
     color: var(--gray-text);
     font-family: "Min Sans", Arial, sans-serif;
     font-size: 10px;
     font-style: normal;
     font-weight: 400;
 }

 /* header buy*/

 .info__buy-list {
     align-content: flex-start;
     max-height: 91px;
     column-gap: 17px;
 }

 .info__buy-item {
     margin-right: 0;
 }

 .info__buy-item:nth-child(3n) {
     margin-bottom: 0;
 }

 /* header realty*/

 .info__realty-list .info-item {
     display: flex;
     align-items: baseline;
     justify-content: space-between;
 }

 .info-title--tablet {
     display: none;
 }

 /* header rent */

 .info__rent-container {
     display: none;
 }

 /* header about */

 .info__about-list {
     align-content: flex-start;
     justify-content: space-between;
     max-height: 128px;
     column-gap: 30px;
 }

 .info__about-item:nth-child(4n) {
     margin-bottom: 0;
 }


 /* header action */

 .info__action-container {
     display: none;
 }

 /* feedback */

 .information-container {
     display: none;
 }

 .social {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 78px;
     border-radius: 16px 16px 0px 0px;
     background-color: var(--accent-2);
 }

 .social__title {
     line-height: 17px;
     margin: 16px auto 12px 16px;
     color: var(--base-white);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 300;
 }

 .social__list {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 0;
     margin: 0 16px 16px;
     list-style: none;
 }

 .social__subtitle {
     padding: 0;
 }

 .social__item {
     line-height: 17px;
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
 }

 .social__link {
     color: var(--base-white);
 }

 /* Main*/

 .page-main {
     margin: 0 16px;
 }

 .page-main--static {
     display: none;
 }

 .slider {
     margin-top: 0;
 }

 .slider__button {
     display: none;
 }

 .slider picture {
     position: absolute;
     z-index: -2;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     overflow: hidden;
     height: 758px;

 }

 .slider img {
     position: relative;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .complex {
     max-width: 100%;
     max-height: 24px;
     line-height: 24px;
     padding: 0;
     margin: 0;
     margin-top: 573px;
     margin-bottom: 16px;
     color: var(--base-white);
     text-align: left;
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
 }

 .slider__complex-list {
     padding: 0;
     margin: 0;
     margin-bottom: 16px;
     list-style: none;
 }


 .slider__complex-item {
     max-width: 100%;
     max-height: 35px;
     line-height: 17px;
     color: var(--base-white);
     font-size: 12px;
     font-weight: 500;
 }

 .slider__complex-item-2 {
     display: none;
 }

 .slider__button--prev {
     display: none;
 }

 .slider__button--next {
     display: none;
 }

 .button {
     display: block;
     line-height: 20px;
     padding: 22px;
     margin: 32px 0;
     border: none;
     border-radius: 16px;
     color: var(--base-white);
     background: var(--accent);
     text-align: center;
     font-family: "Min Sans", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
 }

 .button:hover {
     background: var(--accent-1);
 }

 .button:active {
     background: var(--accent-3);
 }

 .action {
     margin-top: 96px;
 }

 .action__container {
     display: flex;
 }

 .title {
     line-height: 29px;
     padding: 0;
     margin: 32px 0;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 24px;
     font-style: normal;
     font-weight: 300;
 }

 .action__list {
     display: flex;
     padding: 0;
     margin: 0;
     list-style: none;
 }

 .action__item {
     position: relative;
     min-width: 308px;
     min-height: 415px;
     margin-right: 16px;
     margin-bottom: 16px;
     border-radius: 12px;
     background-color: var(--accent-1);
 }

 .action__link {
     position: relative;
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 .action__image {
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     height: 100%;
     border-radius: 12px;
     object-fit: cover;
 }

 .action__subtitle {
     position: absolute;
     bottom: 16px;
     left: 16px;
     max-width: 100%;
     max-height: 50%;
     line-height: 24px;
     margin: 0;
     color: var(--base-white);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
 }

 .action__info {
     max-width: 100%;
     line-height: 17px;
     padding: 8px 12px;
     margin-bottom: 12px;
     border-radius: 12px;
     color: var(--base-text);
     background-color: var(--color-action);
     font-size: 12px;
 }

 .action__deadline {
     position: absolute;
     top: 16px;
     left: 16px;
 }

 .action__house {
     position: absolute;
     top: 57px;
     left: 16px;
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     column-gap: 8px;
 }

 .action-button,
 .other__action-button,
 .carousel__action-button {
     display: flex;
     padding: 0;
     margin: 0;
     margin-bottom: 32px;
     list-style: none;
 }

 .action-button-item,
 .other__action-button-item,
 .carousel__action-button-item {
     width: 10px;
     height: 10px;
     margin-right: 4px;
     border-radius: 90px;
     background: var(--background-block);
 }

 .action-button-item--active,
 .other__action-button-item--active,
 .carousel__action-button-item--active {
     width: 25px;
     height: 10px;
     border-radius: 90px;
     background: var(--accent);
 }

 /* Filters */

 ul.filters {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
     padding: 0;
     list-style: none;
 }

 .filter__title--tablet,
 .filter__title--desktop {
     display: none;
 }

 .room-count {
     position: relative;
     width: 100%;
     margin-bottom: 16px;
 }

 .room-title {
     position: absolute;
     top: 12px;
     left: 16px;
 }

 .room-count-list {
     display: flex;
     overflow: hidden;
     flex-wrap: wrap;
     width: 100%;
     box-sizing: border-box;
     padding: 11px 15px 0;
     margin: 0;
     border: 1px solid var(--background-block);
     border-radius: 12px;
     background: var(--base-white);
     list-style: none;
     column-gap: 7px;
 }

 .room-count-list:hover,
 .room-count-list:active {
     border: 1px solid var(--accent);
 }

 .room-count-item {
     overflow: hidden;
     line-height: 22px;
     box-sizing: border-box;
     padding: 0;
     padding: 18px 20px 11px;
     color: var(--base-text);
     background: var(--base-white);
     font-size: 16px;
     font-weight: 400;
 }

 .room-count-item label:active {
     color: var(--accent);
     text-decoration: underline;
     text-decoration-color: var(--accent);
     text-underline-offset: 10px;
     text-decoration-thickness: 2px;
 }

 .room-count-item:first-child {
     padding-left: 0;
 }

 .state-to-parent {
     display: none;
 }

 .room-count-item label {
     line-height: 22px;
     color: var(--base-text);
     text-align: center;
     font-size: 16px;
 }

 .range-wrapper {
     position: relative;
     width: 100%;
 }

 .inputs {
     display: flex;
     width: 100%;
     padding: 29px 16px 11px;
     margin: 0;
     border: 1px solid var(--background-block);
     border-radius: 12px;
     background: var(--base-white);
     list-style: none;
 }

 .inputs:hover,
 .inputs:active {
     border: 1px solid var(--accent);
 }

 .inputs li {
     width: 50%;
     padding: 0;
     margin: 0;
 }

 .inputs li:last-child {
     text-align: end;
 }

 .input {
     position: relative;
     display: block;
     width: 100%;
 }

 .input input {
     display: none;
 }

 .focus-out {
     line-height: 22px;
     color: var(--base-text);
     font-size: 16px;
 }

 .controls {
     position: absolute;
     right: 16px;
     bottom: 0;
     left: 16px;
 }

 .controls::before {
     position: absolute;
     top: auto;
     right: -16px;
     bottom: 0;
     left: -16px;
     border: none;
     border-radius: 2px;
     background: var(--accent-1);
     content: "";
 }

 .controls button {
     position: absolute;
     top: -10px;
     left: 12px;
     width: 16px;
     height: 16px;
     border-radius: 900px;
     background: var(--accent-1);
 }

 span.range {
     position: absolute;
     top: auto;
     right: 0;
     bottom: 0;
     left: 0;
     height: 2px;
     border-radius: 2px;
     background: var(--accent-1);
 }

 .button.filter__button-flat {
     width: 100%;
 }

 .filter__button-flat:hover {
     background: var(--base-white);
 }

 .filter__button-flat:active {
     background: var(--color-action);
 }

 /* Objects*/

 .object-list {
     display: flex;
     flex-direction: column;
     width: 100%;
     padding: 0;
     margin: 0;
     list-style: none;
 }

 .object-item {
     position: relative;
     display: grid;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     margin-bottom: 20px;
     border: 1px solid var(--background-block);
     border-radius: 16px;
     background: var(--base-white);
 }

 .object-item:hover,
 .object-item:active {
     border: 1px solid var(--accent);
 }

 .object__classic .object-subtitle {
    line-height: 29px;
    font-size: 24px;
 }    

 .object-link {
     display: grid;
    max-width: 343px;
     pointer-events: none;
     grid-template-areas:
         "a b"
         "c .";
 }

 .object-item--static {
     display: none;
 }


 .object__card {
     position: relative;
 }

 .object__image {
     position: relative;
     display: block;
     overflow: hidden;
     padding: 0;
     margin: 0;
     margin-bottom: 16px;
 }

 .object__image-object {
     display: block;
     width: 100%;
     height: 266px;
     border-radius: 16px;
     object-fit: cover;
 }

 .object__slider {
     display: none;
 }

 .object__month {
     position: absolute;
     top: 16px;
     right: 16px;
     line-height: 17px;
     padding: 8px 12px 8px 36px;
     border: 1px solid var(--color-orange);
     border-radius: 8px;
     color: var(--color-orange);
     background: var(--color-lightorange);
     font-size: 12px;
     font-weight: 500;
 }

 .object__month::before {
     position: absolute;
     left: 12px;
     width: 16px;
     height: 16px;
     background-image: url("../../icons/Fire16.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     content: "";
 }

 .object__advantages {
     position: absolute;
     right: 16px;
     bottom: 28px;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     max-width: 210px;
     margin: 0;
 }

 .object__advantages-title {
     position: relative;
     padding: 8px 12px;
     margin: 0;
     margin-bottom: 4px;
     margin-left: 4px;
     border-radius: 8px;
     color: var(--base-text);
     background: var(--color-lightgreen);
 }

 .object__start {
     padding: 9px 12px 9px 36px;
     padding-left: 24px;
     color: var(--base-text);
     font-weight: 500;
 }

 .object__start {
     position: relative;
 }

 .object__start::before {
     position: absolute;
     top: 8px;
     left: 12px;
     width: 16px;
     height: 16px;
     background-image: url("../../icons/Megaphone16.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     content: "";
 }

 .object-subtitle {
     line-height: 24px;
     margin: 0;
     margin-bottom: 8px;
     margin-left: 16px;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
     grid-area: a;
 }

 .object__action-link {
     position: relative;
     display: flex;
     flex-direction: column;
     height: 100%;
 }

 .object-item.object__classic .metro {
    margin-bottom: 27px;
 }   

 /* Flats carousel */

 .carousel {
     overflow: hidden;
 }

 .flats {
     display: flex;
     justify-content: flex-end;
     grid-area: b;
 }

 .object__price {
     line-height: 24px;
     margin: 0;
     margin-right: 16px;
     color: var(--base-text);
     text-align: end;
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
 }

 .object__flats {
     display: none;
 }

 .metro {
     display: flex;
     flex-direction: column;
     grid-area: c;
 }

 .object__metro {
     position: relative;
     padding: 0;
     padding-left: 16px;
     margin: 0;
     margin-bottom: 4px;
     margin-left: 16px;
     color: var(--base-text);
 }

 .object__metro::before {
     position: absolute;
     top: 3px;
     left: 0;
     width: 8px;
     height: 8px;
     border-radius: 900px;
     background: var(--red-metro);
     content: "";
 }


 .object__metro-time {
     position: relative;
     position: relative;
     display: flex;
     padding: 0;
     margin: 0;
     margin-left: 16px;
     color: var(--gray-text);

 }

 .object__metro-time-transport {
     position: relative;
     padding: 1px 0 1px 20px;
     margin: 0;
 }

 .object__metro-time-transport::before {
     position: absolute;
     top: 0;
     left: 0;
     width: 16px;
     height: 16px;
     background-image: url("../../icons/Car16.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     content: "";
 }

 .object__metro-time-walk {
     display: none;
 }

 .object__button {
     display: grid;
     margin: 40px 16px 32px 16px;
     grid-template-columns: 1fr 1fr;
     column-gap: 12px;
 }

 .object__button-button {
     display: block;
     padding: 11px;
     border-radius: 12px;
 }

 .object__button-link {
     border: 1px solid var(--accent);
     background-color: var(--base-white);
 }

 .object__button-flat {
     padding: 12px;
     background-color: var(--accent);
 }

 .object__button-title {
     display: block;
     color: var(--base-text);
     text-align: center;
 }

 .object-flat {
     color: var(--base-white);
 }

 .object-button {
     margin-top: 0;
     margin-bottom: 32px;
 }

 .object__action {
     display: none;
 }

 /* Flats */

 .carousel__slider {
     display: none;
 }

 .sorting {
     display: none;
 }

 .flat {
     display: flex;
     padding: 0;
     margin: 0;
     margin-bottom: 16px;
     column-gap: 16px;
 }

 .object-subtitle.flat-subtitle {
     margin-bottom: 8px;
     margin-bottom: 8px;
 }

 .flat__card {
     position: relative;
 }

 .flat__card::before {
     position: absolute;
     top: 16px;
     left: 16px;
     width: 40px;
     height: 40px;
     background-image: url("../../icons/special40.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     content: "";
 }

 .flat__list {
     display: flex;
     padding: 0;
     margin: 0;
     list-style: none;
     column-gap: 16px;
 }

 .flat__item {
     display: flex;
     flex-direction: column;
     width: 276px;
     height: 519px;
     box-sizing: border-box;
     border: 1px solid var(--background-block);
     border-radius: 12px;
     background: var(--base-white);
 }

 .flat__item:hover,
 .flat__item:active {
     border: 1px solid var(--accent);
 }

 .flat__image {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 175px;
     padding: 0;
     margin: 16px 0;
 }

 .flat__image-object {
     height: 100%;
     object-fit: contain;
 }

 .flat__link {
     z-index: 111;
     display: block;
     width: 40px;
     height: 40px;
     cursor: pointer;
 }

 .favourite-link {
     position: absolute;
     top: 16px;
     right: 16px;
 }

 .comparison-link {
     position: absolute;
     top: 68px;
     right: 16px;
 }

 .favourite-link:hover svg rect {
     fill: var(--color-lightred);
 }

 .favourite-link:active svg {
     fill: var(--color-red);
 }

 .favourite-link:active svg rect {
     fill: var(--color-lightred);
 }

 .favourite-link:visited svg {
     fill: var(--color-red);
 }

 .favourite-link:visited svg rect {
     fill: var(--color-visited);
 }

 .comparison-link:hover svg rect,
 .comparison-link:active svg rect {
     fill: var(--color-action);
 }

 .comparison-link:active svg path {
     stroke: none;
     fill: var(--accent-1);
 }

 .comparison-link:active svg {
     fill: var(--accent-1);
 }

 .comparison-link:visited svg rect {
     fill: var(--color-visited);
 }

 .comparison-link:visited svg path {
     stroke: none;
     fill: var(--accent-1);
 }

 .comparison-link:visited svg {
     fill: var(--accent-1);
 }

 .flat__advantages {
     position: relative;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     max-width: 210px;
     height: 68px;
     margin: 0;
     margin-bottom: 12px;
     margin-left: 16px;
 }

 .flat__description-list {
     position: relative;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
     padding: 0;
     list-style: none;
 }

 .flat__advantages-title {
     position: relative;
     height: 33px;
     padding: 8px 12px;
     margin: 0;
     margin-right: 4px;
     margin-bottom: 4px;
     border-radius: 8px;
     color: var(--base-text);
     background: var(--color-lightgreen);
 }

 .flat__description-item {
     display: flex;
     justify-content: space-between;
     margin: 0;
     margin-bottom: 12px;
 }

 .flat__design {
     margin-bottom: 20px;
 }

 .description {
     line-height: 17px;
     margin-left: 16px;
     font-size: 12px;
 }

 .data {
     line-height: 17px;
     margin-right: 16px;
     color: var(--base-text);
     font-size: 12px;
 }

 .flat__price {
     margin-top: 4px;
 }

 .flat__price del {
     line-height: 20px;
     margin-left: 16px;
     font-size: 14px;
 }

 .flat__price span {
     line-height: 24px;
     margin-right: 16px;
     color: var(--accent-1);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
 }

 .button-flats:hover {
     background: var(--base-white);
 }

 .button-flats:active {
     background: var(--color-action);
 }


 /* Other */

 .other {
     overflow: hidden;
 }

 .other__container {
     position: relative;
 }

 .other__list {
     display: flex;
     overflow: hidden;
     padding: 0;
     margin: 0;
     margin-bottom: 16px;
     list-style: none;
     column-gap: 16px;
 }

 .other__item {
     position: relative;
     display: block;
     min-width: 343px;
     min-height: 315px;
     border-radius: 12px;
     background: var(--background-block);
 }

 .other__slider {
     display: none;
 }

 .other__list figure {
     overflow: hidden;
     width: 343px;
     height: 315px;
     padding: 0;
     margin: 0;
     border-radius: 12px;
 }

 .other__link {
     position: relative;
 }

 .other__image {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .other__subtitle {
     position: absolute;
     bottom: 16px;
     left: 16px;
     line-height: 29px;
     color: var(--base-white);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 24px;
     font-style: normal;
     font-weight: 500;
 }

 .button-phone {
     position: relative;
     width: 100%;
     padding: 14px 0;
     margin: 48px 0 52px 0;
 }

 .button-phone span {
    position: relative;
    padding: 0 0 0 36px;
 }

 .button-phone span::before {
     position: absolute;
     top: 0;
     left: 0;
     width: 24px;
     height: 24px;
     background-image: url("../../icons/phone24.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
     content: "";
 }

 .line-4 {
     display: none;
 }

 /* Footer */

 /* footer contacts */

 .footer {
   padding-top: 16px;
   background: var(--background-color);

 }

 .footer--static {
     display: none;
 }

 .footer__container {
     margin: 0 16px;
 }

 .footer__contacts-wrapper {
     display: flex;
     flex-direction: column;
     margin: 16px auto 24px 0;
 }

 .footer__contacts {
     margin: 0;
     margin-bottom: 4px;
 }

 .footer__contacts-phone {
     line-height: 24px;
     margin-bottom: 8px;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
 }

 .footer__contacts-mail {
     line-height: 24px;
     color: var(--gray-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
 }

 /* footer social */

 .footer__social,
 .footer__social-tablet {
     line-height: 17px;
     margin-bottom: 16px;
     color: var(--gray-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 300;
 }

 .footer__social-tablet {
     display: none;
 }

 .footer__social-list {
     display: grid;
     padding: 0;
     margin: 0;
     grid-auto-flow: column;
     grid-template-columns: 177px 1fr;
     grid-template-rows: 1fr 1fr;
 }

 .footer__social-item {
     margin-bottom: 20px;
     list-style: none;
 }

 .footer__social-item:nth-child(2n) {
     margin-bottom: 16px;
 }

 .footer__social-link {
     line-height: 17px;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
 }

 /*Vertical line*/

 .vertical-line {
     display: none;
 }

 /*footer menu*/

 .footer__menu-title {
     line-height: 17px;
     margin-top: 20px;
     margin-bottom: 16px;
     color: var(--gray-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 300;
 }

 .footer__menu-list {
     padding: 0;
     margin: 0;
     margin-bottom: 20px;
     list-style: none;
 }

 .footer__menu-item {
     line-height: 19px;
     margin-bottom: 16px;
     font-family: "Geologica", Arial, sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 300;
 }

 .footer__menu-link {
     color: var(--base-text);
 }

 .footer__subscription-container {
     margin-top: 20px;
 }

 .footer__subscription-container label {
     line-height: 22px;
     color: var(--base-text);
     font-size: 16px;
 }

 .footer__subscription-container input {
     position: relative;
     width: 100%;
     line-height: 22px;
     padding: 16px;
     margin: 16px 0 8px;
     border: 1px solid var(--background-block);
     border-radius: 12px;
     background-color: var(--base-white);
     font-size: 16px;
 }

 .footer__subscription-container input:hover,
 .footer__subscription-container input:active,
 .footer__subscription-container p input:focus {
     border: 1px solid var(--accent);
     outline: none;
 }


 .footer__subscription-container input::placeholder {
     line-height: 22px;
     color: var(--gray-text);
     font-family: "Min Sans", Arial, sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
 }

 .label-email br {
     display: none;
 }

 button.button-submit {
     width: 100%;
     padding: 16px;
     margin-top: 0;
     margin-bottom: 35px;
     border: 1px solid var(--accent);
     border-radius: 16px;
     color: var(--base-text);
     background-color: var(--base-white);
     cursor: pointer;
 }

 button.button-submit:hover {
     background: var(--base-white);
 }

 button.button-submit:active {
     background: var(--color-action);
 }

 .footer__logo-container {
     margin: 16px 0;
 }

 .footer__info {
     margin-bottom: 31px;
 }

 /* Modal*/

 .modal {
     position: fixed;
     z-index: 5;
     top: 123px;
     left: 50%;
     display: none;
     overflow: hidden;
     width: 343px;
     margin: 0 auto;
     border: 1px solid var(--background-block);
     border-radius: 16px;
     background: var(--base-white);
     transform: translate(-50%, 0);
 }

 .modal--active {
    display: block;
 }

 .modal__image {
     position: relative;
     display: block;
     overflow: hidden;
     width: 100%;
     padding: 0;
     margin: 0;
     margin-bottom: 12px;
 }

 .modal__image-modal {
     display: block;
     width: 100%;
     height: 231px;
     object-fit: cover;
 }

 .modal__subtitle {
     line-height: 29px;
     padding: 0;
     margin: 12px;
     color: var(--base-text);
     font-family: "Geologica", Arial, sans-serif;
     font-size: 24px;
     font-style: normal;
     font-weight: 300;
 }

 .modal__text {
     line-height: 20px;
     padding: 0;
     margin: 24px 12px 24px 20px;
     color: var(--gray-text);
     font-size: 14px;
 }

 .modal__button {
     display: block;
     padding: 22px;
     margin: 89px 12px 16px;
 }

 .button__modal-title {
     padding: 0;
     margin: 0;
     color: var(--base-white);
     font-weight: 400;
 }

 .modal__toggle {
     position: absolute;
     z-index: 3;
     top: 16px;
     right: 12px;
     display: block;
     width: 48px;
     height: 48px;
     border: 1px solid var(--background-block);
     border-radius: 900px;
     background: var(--background-modal);
 }

 .modal__toggle::before {
     position: absolute;
     top: 22px;
     right: 14px;
     width: 19px;
     height: 2px;
     border: none;
     border-radius: 1px;
     background-color: var(--base-text);
     box-shadow: none;
     content: "";
     transform: rotate(45deg);
 }

 .modal__toggle::after {
     position: absolute;
     top: 22px;
     right: 14px;
     width: 19px;
     height: 2px;
     border: none;
     border-radius: 1px;
     background-color: var(--base-text);
     box-shadow: none;
     content: "";
     transform: rotate(-45deg);
 }

 @media (min-width: 375px) and (max-width:959px) {
     /* .footer__menu-container {
        display: grid;
        grid-template-columns: 179px 1fr;
        grid-template-rows: 337px 1px 177px 174px 1px 208px 128px 282px;
    }
    
     .footer__flat-container {
         grid-column: 1 / 3;
         grid-row: 1 / 2;
     }
    
     .line-6 {
         grid-column: 1 / 3;
         grid-row: 2 / 3;
     }
    
     .line-7 {
         grid-column: 1 / 3;
         grid-row: 5 / 6;
     }
    
     .footer__realty-container {
         grid-row: 3 / 5;
         grid-column: 1 / 2;
     }
    
     .footer__buy-container {
         grid-row: 3 / 4;
         grid-column: 2 / 3;
     }
    
     .footer__object-container {
         grid-row: 5 / 7;
         grid-column: 1 / 2;
         margin-bottom: 12px;
     }
    
     .footer__other-container {
         grid-row: 4 / 5;
         grid-column: 2 / 3;
     }
    
     .footer__about-container {
         grid-row: 8 / 10;
         grid-column: 1 / 2;
         margin-top: 12px;
     }
    
     .footer__location-container {
         grid-row: 6 / 7;
         grid-column: 2 / 3;
     }
    
     .footer__deadline-container {
         grid-row: 7 / 10;
         grid-column: 2 / 3;
     }*/

     .footer__menu-container {
         display: grid;
         flex-wrap: wrap;
         grid-template-areas:
             "flat ."
             "line1 line1"
             "realty object"
             "location buy"
             "deadline other"
             "about ."
             "line2 line2";

     }

     .footer__menu-list {
         max-width: 178px;
     }

     .footer__flat-container {
         grid-area: flat;
     }

     .line-6 {
         grid-area: line1;
     }

     .line-7 {
         grid-area: line2;
     }

     .footer__realty-container {
         grid-area: realty;
     }

     .footer__buy-container {
         grid-area: buy;
     }

     .footer__object-container {
         grid-area: object;
     }

     .footer__other-container {
         grid-area: other;
     }

     .footer__about-container {
         grid-area: about;
     }

     .footer__location-container {
         grid-area: location;
     }

     .footer__deadline-container {
         grid-area: deadline;
     }
 }
