/* MAIN PAGE*/

 /* Main*/

 .page-main {
     margin: 0 16px;
 }

 .page-main--static {
     display: none;
 }

 /* Slider */

.slider picture {
    height: 758px;
}

.complex {
    max-height: 24px;
    line-height: 24px;
    margin-top: 573px;
    margin-bottom: 16px;
    font-size: 20px;
}

.slider__complex-list {
    margin-bottom: 16px;
}

.slider__complex-item-2 {
    display: none;
}

 /* Filters */

 ul.filters {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     width: 100%;
     padding: 0;
     list-style: none;
 }

 .filter__title--tablet,
 .filter__title--desktop {
     display: none;
 }

 .room-count {
     position: relative;
     width: 100%;
     margin-bottom: 16px;
 }

 .room-title {
     position: absolute;
     top: 12px;
     left: 16px;
 }

 .room-count-list {
     display: flex;
     overflow: hidden;
     flex-wrap: wrap;
     width: 100%;
     box-sizing: border-box;
     padding: 11px 15px 0;
     margin: 0;
     border: 1px solid var(--background-block);
     border-radius: 12px;
     background: var(--base-white);
     list-style: none;
     column-gap: 7px;
 }

 .room-count-list:hover,
 .room-count-list:active {
     border: 1px solid var(--accent);
 }

 .room-count-item {
     overflow: hidden;
     line-height: 22px;
     box-sizing: border-box;
     padding: 0;
     padding: 18px 20px 11px;
     color: var(--base-text);
     background: var(--base-white);
     font-size: 16px;
     font-weight: 400;
 }

 .room-count-item label:active {
     color: var(--accent);
     text-decoration: underline;
     text-decoration-color: var(--accent);
     text-underline-offset: 10px;
     text-decoration-thickness: 2px;
 }

 .room-count-item:first-child {
     padding-left: 0;
 }

 .state-to-parent {
     display: none;
 }

 .room-count-item label {
     line-height: 22px;
     color: var(--base-text);
     text-align: center;
     font-size: 16px;
 }

 .range-wrapper {
     position: relative;
     width: 100%;
 }

 .inputs {
     display: flex;
     width: 100%;
     padding: 29px 16px 11px;
     margin: 0;
     border: 1px solid var(--background-block);
     border-radius: 12px;
     background: var(--base-white);
     list-style: none;
 }

 .inputs:hover,
 .inputs:active {
     border: 1px solid var(--accent);
 }

 .inputs li {
     width: 50%;
     padding: 0;
     margin: 0;
 }

 .inputs li:last-child {
     text-align: end;
 }

 .input {
     position: relative;
     display: block;
     width: 100%;
 }

 .input input {
     display: none;
 }

 .focus-out {
     line-height: 22px;
     color: var(--base-text);
     font-size: 16px;
 }

 .controls {
     position: absolute;
     right: 16px;
     bottom: 0;
     left: 16px;
 }

 .controls::before {
     position: absolute;
     top: auto;
     right: -16px;
     bottom: 0;
     left: -16px;
     border: none;
     border-radius: 2px;
     background: var(--accent-1);
     content: "";
 }

 .controls button {
     position: absolute;
     top: -10px;
     left: 12px;
     width: 16px;
     height: 16px;
     border-radius: 900px;
     background: var(--accent-1);
 }

 span.range {
     position: absolute;
     top: auto;
     right: 0;
     bottom: 0;
     left: 0;
     height: 2px;
     border-radius: 2px;
     background: var(--accent-1);
 }

 .button.filter__button-flat {
     width: 100%;
 }

 .filter__button-flat:hover {
     background: var(--base-white);
 }

 .filter__button-flat:active {
     background: var(--color-action);
 }


