@media (min-width: 960px) and (max-width:1439px) {
    /* Main */

    .complex {
        max-height: 56px;
        margin-top: 746px;  
    }


    /* Filters */

    .filter__title {
        display: none;
    }

    .filter__title--tablet {
        display: block;
        margin-top: 64px;
    }

    ul.filters {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .filters li {
        margin-bottom: 0;
    }

    .room-count {
        width: max-content;
        margin: 0 16px;
    }

    .filters .price {
        margin-bottom: 0;
    }

    .price {
        width: 338px;
    }

    .filter-button {
        width: 100%;
    }

    .filter-button .button {
        margin-top: 40px;
    }

    .button-flats:hover {
        background: var(--base-white);
    }
    
    .button-flats:active {
        background: var(--color-action);
    }

    .object-item:first-child .metro {
        margin: auto 0 17px;
    }

}