@media (min-width: 960px) and (max-width:1439px) {
    /* Main */

    .slider picture {
        height: 1000px;
    }

    .complex {
        max-height: 56px;
        line-height: 56px;
        margin-top: 746px;
        font-size: 40px;
    }

    .slider__complex-item {
        max-height: 45px;
        line-height: 22px;
        font-size: 16px;
        font-weight: 400;
    }

    /* Filters */

    .filter__title {
        display: none;
    }

    .filter__title--tablet {
        display: block;
        margin-top: 64px;
    }

    ul.filters {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .room-count {
        width: max-content;
        margin: 0 16px;
    }

    .price {
        width: 338px;
    }

    .filter-button {
        width: 100%;
    }

    .filter-button .button {
        margin-top: 40px;
    }
}